@model BookCatalogueWeb.Models.Book

<h2>Add New Book</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Title</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label>Author</label>
        <input asp-for="Author" />
    </div>
    <div>
        <label>Genre</label>
        <input asp-for="Genre" />
    </div>
    <div>
        <label>Year</label>
        <input asp-for="Year" type="number" />
    </div>
    <button type="submit">Add Book</button>
</form>
